# Import modules

**Before you start:** Click **File → Save a copy in Drive** so you have your own version of this notebook. If you skip this step, your work will not be saved.

In [ ]:
# first thing is to import pandas
import pandas as pd

pd.options.display.max_columns = None
pd.options.display.max_rows = 100


from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# `.read_csv()`: Loading data
We'll use the `read_csv` function to load our data.

CSV stands for comma-separated values because each in the raw text, each cell in the table is separated by a comma.

# Titanic Data

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/1280px-RMS_Titanic_3.jpg"
  width="30%" align="right">

Dataset info: https://www.kaggle.com/c/titanic/data

## Columns 
These are the subset of columns that we'll care about:
 - pclass - "Passenger class". Has 3 values:
   - `1:` 1st, `2:` 2nd, `3:` 3rd
 - sex - The sex as recorded in this dataset (values are either `male` or `female`, or `NA` (missing))
 - survived - An indicator of whether the passenger survived the sinking. 
   - `0` - did not survive
   - `1` - survived
 - age - passenger age

In [ ]:
df = pd.read_csv(filepath_or_buffer='https://zjelveh.github.io/files/titanic.csv')

In [31]:
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# `.shape`: Getting the number of rows and columns
The `shape` attribute of a DataFrame tells us the number of rows and columns.

It is returned in a tuple, which is similar to a list but a [little different](https://www.geeksforgeeks.org/python-difference-between-list-and-tuple/).

In [ ]:
df.shape

In [ ]:
print("This dataframe has", df.shape[0], 'rows and', df.shape[1], 'columns.')

# `.columns`: What do my columns represent?
The list of columns in a DataFrame

In [ ]:
df.columns

In [ ]:
df.columns[1]

Columns are of type `Index`

In [ ]:
type(df.columns)

## Accessing single columns

In [ ]:
df['survived']

In [ ]:
df.survived

In [ ]:
df[['survived']]

**The type of a column is `Series`. A `DataFrame` is made up of a collection of `Series`.**

In [ ]:
type(df['survived'])
type(df.survived)

Note that when accessing a column with two brackets, it returns a DataFrame with one column

In [ ]:
type(df[['survived']])

## Accessing multiple columns
Need to use double brackets, and will return a DataFrame

`df[['column1_name_here', 'column2_name_here', ... , 'columnK_name_here'  ]]`

Note that instead of a single bracket `[` we will need to use a double bracket `[[` to access multiple columns.

The code in the next cell will throw an error.

In [ ]:
df[('pclass', 'fare')]

In [ ]:
df[['pclass', 'fare']]

# `.head()` / `.tail()`: Seeing the first/last set of rows 
`head(n=5)` - Show the top n rows in a dataframe

`tail(n=5)` - Show the bottom n rows in a dataframe

[head Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)

[tail Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html)

In [ ]:
df.head()

In [ ]:
# place cursor inside the parentheses and hit shift+tab after 
df.head()

In [ ]:
# show the first 3 rows
df.head()
df.head(n=3)

# Performing operations on columns
## `.sum() / .mean()`: Adding and averaging a numeric column
If the column is holding a number (which are types `int`, `float`), then we can do standard math

In [ ]:
df['survived'].sum()

In [ ]:
df['survived'].mean()

In [ ]:
df.survived.sum()

In [ ]:
df.survived.mean()

## `.value_counts()`: How many of this, how many of that?
Give the count of unique values in a column

[Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [ ]:
df.sex.value_counts()

In [ ]:
df.pclass.value_counts()

## `normalize=True`
This options for `value_counts` divides each count by the sum of counts. 

In other words, it computes **probabilities**.

In [ ]:
# show counts and shares for ArrestYr column
df.pclass.value_counts(normalize=True)

In [ ]:
#sums to one
df.pclass.value_counts(normalize=True).sum()

You can use value counts on more than one variable

In [ ]:
df[['survived', 'pclass']].value_counts(normalize=True)

# How to access rows using logical conditioning
Above we used the single bracket to access a column

Another use for a single bracket is to select rows that meet a logical condition.


## Example 1:
1. First let's remind ourselves what the DataFrame looks like

In [ ]:
df

2. Let's see what happens when we test to see if the values in the `coin` column equal `A`

In [ ]:
df.pclass==1

Notice that a `Series` was returned.

3. Now let's put that logical condition inside single brackets

We will see that we get back a DataFrame with 323 rows, where the rows all have `pclass==1`

In [ ]:
df[df.pclass==1]

## Example 2:
Let's do something similar w/ the `sex` column

In [ ]:
df[df['sex']=='male']

## Across multiple columns
When you have more than two logical conditions, you have to use a parentheses to separate them.

In [ ]:
df[df.sex=='male' & df.pclass==1]

In [ ]:
df[(df.sex=='male') & (df.pclass==1)]

## `unique` and `nunique`
Get the unique elements and number of unique elements

In [ ]:
df.pclass.unique()

In [ ]:
df.pclass.nunique()

In [ ]:
df[df.pclass==1]['pclass'].nunique()

# Lab Task

1) What is the name of the fifth column in `df`?

2) Compute the average (mean) value of the `fare` column

3) Use `shape` and logical conditioning to figure out how many people had fares greater than $100

4. Now use `sum` to do the same thing

5. How many unique fares were paid?

6) Use logical conditioning to compute $P(age>25)$

7. What is $P(pclass, survived)?$

8. How many people were in pclass 2 and survived?

9. What is the average age of people who survived?